
{% extends 'OTCoreBundle::layout.html.twig' %}


{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    Connecté en tant que {{ app.user.username }}

    -

    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a><br />
    <a href="{{ path('fos_user_change_password') }}">Changer de password</a><br />
    <a href="{{ path('fos_user_profile_edit') }}">Changer Nom d'utilisateur/E-mail</a><br />
{% else %}

    <a href="{{ path('fos_user_security_login') }}">Connexion</a><br />
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a><br />
    <a href="{{ path('fos_user_resetting_request') }}">Password oublié</a><br />

{% endif %}

<h1> Character's list of {{ app.user.username }}</h1>
	<ul>
{% for Charac in listCharacs %}
	<li> {{ Charac.name }} created on {{ Charac.date|date('d/m/Y') }} </li>
{% endfor %}
	</ul>

{% endblock body %}
