<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}EasyRPG{% endblock %}</title>
    <meta Characacset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    Connecté en tant que {{ app.user.username }}

    -

    <a href="{{ path('fos_user_security_logout') }}">Logout</a><br />
    <a href="{{ path('fos_user_change_password') }}">Change your password</a><br />
    <a href="{{ path('fos_user_profile_edit') }}">Change Username/E-mail</a><br />
    <a href="{{ path('ot_core_viewAll_characs') }}">My Characters</a>

{% else %}

    <a href="{{ path('fos_user_security_login') }}">Login</a><br />
    <a href="{{ path('fos_user_registration_register') }}">Register</a><br />
    <a href="{{ path('fos_user_resetting_request') }}">forgot password ?</a><br />

{% endif %}

{% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
  {% endfor %}
  
  
  	{% block body %}
  	{% endblock %}

  </body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>